<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="static/monitor.css" rel="stylesheet">
        <title>MW0SML Sparks monitor</title>
    </head>
    <body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MW0SML monitoring</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mqtt_all/">Raw MQTT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://sparks.btck.co.uk/">Website</a>
          </li>
        </ul>
      </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><small><span id="messagecount"></span></small></a>
          </li>
        </ul></div>


    </nav>

    <main role="main" class="container">
        <div class="container">
            <p>&nbsp;</p>
        </div>
        <div class="alert alert-warning" role="alert" id="pleasewait">
            Please wait, it might take up to 10 seconds for the realtime data feed to start.
        </div>

        <div class="container">
            <h4>Power meters</h4>
            <p><small>We have DIN rail based power monitors connected inline to the feeds for each room. These are monitored every 10 seconds using RS485.</small></p>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <th>Cabin</th><th>Room</th><th>Voltage</th><th>Frequency</th><th>Current</th><th>Power</th><th>Cumulative</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Cabin 2</td><td>Radio room 1</td><td><span id="room1voltage"></span><span id="room1voltagesparkline"></span></td><td><span id="room1frequency"></span></td><td><span id="room1current"></span><span id="room1currentsparkline"></span></td><td><span id="room1power"></span><span id="room1powersparkline"></span></td><td><span id="room1cumulative"></span></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>Radio room 2</td><td><span id="room2voltage"></span><span id="room2voltagesparkline"></span></td><td><span id="room2frequency"></span></td><td><span id="room2current"></span><span id="room2currentsparkline"></span></td><td><span id="room2power"></span><span id="room2powersparkline"></span></td><td><span id="room2cumulative"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h4>Environment</h4>
            <p><small>5 small temperature and humidity sensors a polled every 10 seconds also via RS485.</small></p>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                   <th>Cabin</th><th>Room</th><th>Temperature</th><th>Humidity</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Cabin 1</td><td>Main room</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>Entrance</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>Radio room 1</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>Radio room 2</td><td></td><td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h4>Doors</h4>
            <p><small>The doors are fitted with dry contact reed switches, they are wired via optoisolators to the GPIO pins.</small></p>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                   <th>Cabin</th><th>Door</th><th>Door state</th><th>Last changed</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Cabin 1</td><td>External</td><td><span class="badge badge-secondary badge-danger">Open</span></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>External</td><td><span class="badge badge-secondary badge-success">Closed</span></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>Radio room 1</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>Radio room 2</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>Cabin 2</td><td>CCTV cupboard</td><td></td><td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="/static/mw0sml.monitor.js?v=3"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                indexStartup();
            }, false);
        </script>
    </body>
</html>

